<%= simple_form_for(@hospital_authority, wrapper: :horizontal_form) do |f| %>
    <div class="form-inputs">
      <%= render partial: 'shared/input_image', locals: {f: f} %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :phone %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
