<div class="jumbotron row">
  <h2>
    <%= @hospital_authority.name %>
    <%= hospital_authority_edit_link(@hospital_authority) %>
    <%= hospital_authority_destroy_link(@hospital_authority) %>
  </h2>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td><%= @hospital_authority.name %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @hospital_authority.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @hospital_authority.email %></td>
    </tr>
  </table>
</div>
