<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @rating.doctor_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @rating.patient_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @rating.number %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rating.comments %>
</p>
