<%= simple_form_for(@patient, wrapper: :horizontal_form, html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= render partial: 'shared/input_image', locals: {f: f} %>
      <%= f.input :name %>
      <%= f.input :age %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :city_id, collection: City.all.collect { |c| [c.name, c.id] }, prompt: 'Please select City', required: true %>
      <%= f.input :cuntry, :input_html => {:value => f.object.cuntry || 'Bangladesh'}, label: "Country" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
