<h1>Patients</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th>Division</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.address %></td>
        <td><%= patient.city.try(:name) %></td>
        <td><%= patient.cuntry %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
