<div class="jumbotron row">
  <%= render partial: 'shared/show_image', locals: {obj: @patient} %>
  <h2>
    <%= @patient.name %>
    <%= patient_edit_link(@patient) %>
    <%= patient_destroy_link(@patient) %>
  </h2>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td><%= @patient.name %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= @patient.age %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @patient.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @patient.email %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @patient.address %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @patient.city.try(:name) %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @patient.cuntry %></td>
    </tr>
  </table>
</div>