<h2> Hospitals <%= hospital_new_link %> </h2>

<div class="row">
  <% @hospitals.each do |hospital| %>
      <div class="col-lg-12">
        <div class="col-lg-2">
          <%= render partial: 'shared/show_image', locals: {obj: hospital} %>
        </div>
        <div class="col-lg-6">
          <div class="header">
            <p><%= link_to hospital.name, hospital_path(hospital), style: 'font-size: 23px;' %></p>


            <address>
              <span class="glyphicon glyphicon-map-marker"></span>
              <strong><%= hospital.name %></strong><br>
              <%= hospital.address %> <br>
              <%= "#{hospital.city.try(:name)} | #{hospital.cuntry}" %>
            </address>

            <span class="glyphicon glyphicon-phone"><%= hospital.phone %></span> |
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= hospital.email %></span>
          </div>
        </div>
        <div class="col-lg-4 text-right">
          <%= hospital_edit_link(hospital) %>
          <%= hospital_destroy_link(hospital) %>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
  <% end %>
</div>
