<div class="jumbotron row">
  <h2><%= @hospital.name %></h2>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td><%= @hospital.name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @hospital.address %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @hospital.city %></td>
    </tr>
    <tr>
      <th>Thana</th>
      <td><%= @hospital.thana.try(:name) %></td>
    </tr>
    <tr>
      <th>District</th>
      <td><%= @hospital.district.try(:name) %></td>
    </tr>
    <tr>
      <th>Division</th>
      <td><%= @hospital.division.try(:name) %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @hospital.cuntry %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @hospital.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @hospital.email %></td>
    </tr>
  </table>
</div>
<%= link_to 'Edit', edit_hospital_path(@hospital), class: "btn btn-primary" %>