<div class="jumbotron row">
  <h2>
    <%= @hospital.name %>
    <%= hospital_edit_link(@hospital) %>
    <%= hospital_destroy_link(@hospital) %>
  </h2>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <td><%= @hospital.name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= @hospital.address %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @hospital.city.try(:name) %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @hospital.cuntry %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @hospital.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @hospital.email %></td>
    </tr>
  </table>
</div>
