<%= simple_form_for(@doctor, wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :degrees %>
      <%= f.input :education %>
      <%= f.input :specialist %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :city %>
      <%= f.input :about_me %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
