<%= simple_form_for(@doctor, wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= render partial: 'shared/input_image', locals: {f: f} %>
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :degrees %>
      <%= f.input :education %>
      <%= f.input :specialist %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :city_id, collection: City.all.collect { |c| [c.name, c.id] }, prompt: 'Please select City', required: true %>
      <%= f.input :about_me %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
