<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @doctor.title %>
</p>

<p>
  <strong>Degrees:</strong>
  <%= @doctor.degrees %>
</p>

<p>
  <strong>Education:</strong>
  <%= @doctor.education %>
</p>

<p>
  <strong>Specialist:</strong>
  <%= @doctor.specialist %>
</p>

<p>
  <strong>Age:</strong>
  <%= @doctor.age %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @doctor.city %>
</p>

<p>
  <strong>Thana:</strong>
  <%= @doctor.thana_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @doctor.district_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @doctor.cuntry %>
</p>

<p>
  <strong>About me:</strong>
  <%= @doctor.about_me %>
</p>

<p>
  <strong>Type:</strong>
  <%= @doctor.type %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
