<h1>Rates</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>For New patient</th>
    <th>For Old patient</th>
    <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.title %></td>
        <td><%= rate.new_patient %></td>
        <td><%= rate.old_patient %></td>
        <td><%= link_to 'Edit', edit_doctor_rate_path(@doctor, rate) %></td>
        <td><%= link_to 'Destroy', doctor_rate_path(@doctor, rate), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_doctor_rate_path(@doctor), class: 'btn btn-primary' %>
