<h1>Listing rates</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>New patient</th>
      <th>Old patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.title %></td>
        <td><%= rate.new_patient %></td>
        <td><%= rate.old_patient %></td>
        <td><%= link_to 'Show', doctor_rate_path(@doctor, rate) %></td>
        <td><%= link_to 'Edit', edit_doctor_rate_path(@doctor, rate) %></td>
        <td><%= link_to 'Destroy', doctor_rate_path(@doctor, rate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate',  new_doctor_rate_path(@doctor) %>
