<p id="notice"><%= notice %></p>

<p>
  <strong>New patient:</strong>
  <%= @rate.new_patient %>
</p>

<p>
  <strong>Old patient:</strong>
  <%= @rate.old_patient %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @rate.doctor_id %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
