<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @rate.title %>
</p>

<p>
  <strong>New patient:</strong>
  <%= @rate.new_patient %>
</p>

<p>
  <strong>Old patient:</strong>
  <%= @rate.old_patient %>
</p>


<%= link_to 'Edit', edit_doctor_rate_path(@doctor, @rate) %>
