<div class="jumbotron row">
  <h2>
    <%= @rate.title %>
    <%= rate_edit_link(@doctor, @rate) %>
    <%= rate_destroy_link(@doctor, @rate) %>
  </h2>
  <table class="table table-bordered">
    <tr>
      <th>Title</th>
      <td><%= @rate.title %></td>
    </tr>
    <tr>
      <th>New patient</th>
      <td><%= @rate.new_patient %></td>
    </tr>
    <tr>
      <th>Old Patient</th>
      <td><%= @rate.old_patient %></td>
    </tr>
  </table>
</div>

