<h2>Availabilities <%= availability_new_link(@doctor) %></h2>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>Hospital</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Day off</th>
  </tr>
  </thead>

  <tbody>
  <% @availabilities.each do |availability| %>
      <tr>
        <td><%= availability.hospital.name %></td>
        <td><%= availability.start_at %></td>
        <td><%= availability.end_at %></td>
        <td><%= availability.day_off %></td>
      </tr>
  <% end %>
  </tbody>
</table>