<div class="jumbotron row">
  <h2>
    <%= @availability.hospital.name %>
    <%= availability_edit_link(@doctor, @availability) %>
    <%= availability_destroy_link(@doctor, @availability) %>
  </h2>
  <table class="table table-bordered">
    <tr>
      <th>Hospital</th>
      <td><%= @availability.hospital.name %></td>
    </tr>
    <tr>
      <th>Start at</th>
      <td><%= @availability.start_at %></td>
    </tr>
    <tr>
      <th>End at</th>
      <td><%= @availability.end_at %></td>
    </tr>
    <tr>
      <th>Day Off</th>
      <td><%= @availability.day_off %></td>
    </tr>
  </table>
</div>
