<% if current_user.present? %>
    <li class="dropdown user-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i> <%= current_user.email %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <% if current_user.is_a?(Doctor) %>
              <%= link_to edit_doctor_path(current_user) do %>
                  <i class="glyphicon glyphicon-user"></i> Profile
              <% end %>
          <% elsif current_user.is_a?(Patient) %>
              <%= link_to edit_patient_path(current_user) do %>
                  <i class="glyphicon glyphicon-user"></i> Profile
              <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, :method => :delete) do %>
              <i class="glyphicon glyphicon-off"></i> Log Out
          <% end %>
        </li>
      </ul>
    </li>
<% else %>
    <li>
      <%= link_to user_session_path do %>
          <i class="glyphicon glyphicon-log-in"></i> Login
      <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %>
          <i class="glyphicon glyphicon-pencil"></i> Register
      <% end %>
    </li>
<% end %>